/*头部导航开始 开始自定义显示*/
.headernav{
    height:30px;
    width: 100%;
    background-color: #f1f1f1;
    line-height: 30px;
}

.headernav .w .fl .dt{
    padding: 0 20px 0 10px;
    position: relative;
}

.headernav .w .fl .dt i{
    font: 400 15px/15px '宋体';
    height: 7px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 12px;
    width: 15px;
}

.headernav .w .fl .dt i s{
    position: absolute;
    left: 2px;
    top: -8px;

}

.headernav .w .fr ul li{
    float: left;
    padding: 0 10px;
}

.headernav .w .fr ul li.line{
    height: 12px;
    width: 1px;
    background-color: #ddd;
    margin-top: 7px;
    padding: 0px;
}

.headernav .w .fr ul .showPhone{
    padding: 0 25px;
}


/*添加手机图片*/
.headernav .w .fr ul li .phone{
    background: url(../images/sprite.png) no-repeat ;
    width: 15px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 5px;
}
/*头部导航结束*/

/*设置登录的mask层*/
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 999;
    display: none;
}

.loginbox{
    width: 400px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -200px;
    z-index: 1000;
    background-color: white;
    display: none;
}

.loginbox .close_login{
    position: absolute;
    right: 5px;
    top: 5px;
    font: 400 18px/18px '宋体';
    width: 18px;
    height: 18px;
    cursor: pointer;

}



/*结束登录的mask层*/

/*头部导航图开始*/
.topbanner{
    background-color: #8a25c6;
}

.topbanner .topclose{
    position: relative;
}

.topbanner .w .close{
    position: absolute;
    right: 5px;
    top: 8px;
    width: 19px;
    height: 19px;
    background: url(../images/close.png) no-repeat;
}

.topbanner .w a:hover{
    /*修改背景的显示位置*/
    background-position: bottom;
}


/*头部导航图结束*/
.topsearch .logo{
    float: left;
    width: 360px;
    height: 75px;
    padding-top: 25px;
    background-color: #ff0000;
    background: url(../images/logo.png) no-repeat 0 25px;
    position: relative;
}

.topsearch .logo .jdtitle{
    display: block;
    width: 270px;
    height: 60px;
    text-indent: -2000em;

}

.topsearch .logo .jdgif{

    width: 180px;
    height: 80px;
    /*margin-top: 10px;*/
    position: absolute;
    left:  168px;
    top: 10px;
    background: url(../images/dong.gif);
}

.topsearch .search{
    float: left;
    width: 538px;
    height: 35px;
    padding-top: 25px;
    /*background-color: purple;*/

}

.topsearch .search .searchtxt{
    width: 450px;
    height: 32px;
    border: 2px solid #B61D1D;
    padding-left: 4px;
    color: #666;
    font: 14px/32px "microsoft yahei";
    float: left;
}

.topsearch .search .searchbtn{
    height: 36px;
    width: 80px;
    background-color: #B61D1D;
    color: white;
    font: 16px/36px "microsoft yahei";
    float: left;
    cursor: pointer;
}

.topsearch .shopcar{
    float: right;
    width: 96px;
    height: 34px;
    margin: 25px 65px 0 0;
    padding-left: 43px;
    border: 2px solid #dfdfdf;
    line-height: 34px;
    position: relative;
}

.topsearch .shopcar span{

    width: 16px;
    height: 14px;
}

.topsearch .shopcar span.icon1{
    position: absolute;
    left: 20px;
    top: 10px;
    background: url(../images/sprite.png) no-repeat -1px -59px;
}
.topsearch .shopcar span.icon2{
    margin-left: 10px;
    font: 400 13px/13px simsun;
}
.topsearch .shopcar span.icon3{
    position: absolute;
    right: 35px;
    top: -5px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    background-color: #C81623;
    color: #fff;
    border-radius: 8px 8px 7px 0;
}

.topsearch .introduce{
    float: left;
    width: 538px;
    height: 30px;
    /*background-color: #C81623;*/
}

.topsearch .introduce ul li{
    float: left;
    padding-right: 10px;
    padding-top: 5px;
}

.topsearch .introduce ul li .current{
    color: #C81623;

}

/*顶部导航条设置*/
.jdnav{
    width: 100%;
    height: 44px;
    border-bottom: 2px solid #C81623;
}

.jdnav .w .allmark{
    float: left;
    background-color: #C81623;
    height: 44px;
    width: 160px;
    /*比较父亲显示的高度*/
    position: relative;
    z-index: 1;
    /*显示浮动 的可见性*/
    overflow: visible;
}

.jdnav .w .allmark .dd{
    background-color: #C81623;
    height: 44px;
    width: 140px;
    margin-top: 2px;

}

.jdnav .w .allmark .dd a{
    display: block;
    height: 44px;
    font: 400 14px/44px "微软雅黑";
    color: white;
    /*a没有宽度，不会撑开盒子*/
    padding-left: 10px;
}

.jdnav .w .allmark .dt{
    width: 160px;
    height: 465px;
    background-color: #C81623;
}

.jdnav .w .allmark .dt .godnav {
    height: 30px;
}

.jdnav .w .allmark .dt .godnav h3{
    float: left;
}

.jdnav .w .allmark .dt .godnav span{
    float: right;
    display: block;
    margin-right: 10px;
    color: white;
    font: 400 12px/30px "宋体";
}

.jdnav .w .allmark .dt .godnav h3 a{
    display: block;
    color: white;
    line-height: 30px;
    padding-left: 10px;
    font-size: 14px;
}


.jdnav .w .itemnav{
    float: left;
    height: 44px;
    /*width: 700px;*/

}

.jdnav .w .itemnav li {
    float: left;
    padding:0 20px;
}
.jdnav .w .itemnav li a{
    display: block;
    height: 44px;
    /*line-height: 44px;*/
    font: 14px/44px "微软雅黑";
    overflow: hidden;
}

.jdnav .w .itemnav li.current {
    float: left;
    /*padding-left: 25px;*/
    background: url(../images/new.jpg) no-repeat right top;
}

.jdnav .w .adarea{
    float: right;
    height: 40px;
    width: 190px;
    background: url(../images/adarea.gif) no-repeat ;
}

.jdnav .w .adarea a{
    display: block;
    /*宽度继承，高度不继承*/
    height: 40px;
}

.banner604{
    position: relative;
}

.banner604 a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 453px;
    background: url(../images/banner.jpg) no-repeat top center;
}

.main{
    position: relative;
}

.main .slider{
    width: 750px;
    height: 453px;
    float: left;
    margin:12px 0 0 180px;
    position: relative;
}

.main .slider a img{
    /*display: block;*/
    width: 750px;
    height: 453px;
}

.main .slider .arrow{
    width:750px;
    height: 62px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -31px;
}

.main .slider .circle{
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -65px;
    width: 130px;
}

.main .slider .circle li{
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    float: left;
    background-color: #3e3e3e;
    text-align: center;
    margin-left: 2px;
    cursor: pointer;
}


.main .slider .circle li.current{
    background-color: #C81623;
}

.main .slider .arrow{
    display: none;
}

.main .slider .arrow a{
    display: inline-block;
    width: 28px;
    height: 62px;
    font: 500 18px/62px "宋体";
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
}

.main .slider .arrow a.arrow-1{
    float: left;
}

.main .slider .arrow a.arrow-2{
    float: right;
}

.main .slider .arrow a.arrow-2:hover,.main .slider .arrow a.arrow-2:hover{
    background: rgba(0,0,0,0.4);
}

.main .news .jd-news{
    height: 200px;
    /*background-color: red;*/
}

.main .news .jd-news ul{
    border-top: 1px dashed #e4e4e4;
    border-bottom: 1px dashed #e4e4e4;
    /*background-color: #6FDEA3;*/
}

.main .news .jd-news ul li{
    padding: 6px 10px 0 10px;
    line-height: 26px;
    height: 26px;
    width: 100%;

}

.main .news .jd-news ul li a{
    display: block;
    height: 26px;
}

.main .news .jd-news ul li a span{
    font-weight: bold;
    padding-right: 3px;
}

.main .news .jd-news .title,.main .news .jd-service .title{
    height: 40px;
    color: #666;
}

.main .news .jd-news .title h3,.main .news .jd-service .title h3{
    float: left;
    margin-left: 10px;
    font: 16px/40px '微软雅黑';
    line-height: 40px;
}

.main .news .jd-news .title a{
    display: block;
    float: right;
    line-height: 40px;
    width: 60px;
    text-align: center;
}


.main .news .jd-service{
    height: 253px;
}
.main .news .jd-service .list{
    border-top: 1px dashed #e4e4e4;

}


.main .news .jd-service .list ul li{
    float: left;
    width: 66px;
    height: 69px;
    border: 1px solid #e4e4e4;
    margin: -1px 0 0 -1px;
}
.main .news .jd-service .list ul li a{
    display: block;
    height: 69px;
    position: relative;
    text-align: center;
}

.main .news .jd-service .list ul li a i{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -10px;
    background:url(../images/spriteicon.png) no-repeat 0 0;
}

.main .news .jd-service .list ul li a.icon11
,.main .news .jd-service .list ul li a.icon5
,.main .news .jd-service .list ul li a.icon6{
    background: url(../images/song.png) no-repeat right top;
}

.main .news .jd-service .list ul li a span{
    width: 66px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -33px;
}


.main .news{
    float: right;
    width: 268px;
    height: 451px;
    border: 1px solid #e4e4e4;
    margin-top: 12px;
}


/*中间正文*/
.todays .night{
    margin: 10px 0 28px 0;
    /*width: 200px;*/
    height: 150px;
}

.todays .night .night-r{
    height: 160px;
    width: 1000px;
    position: relative;
}

.todays .night .night-r ul{
    width: 500%;
}

.todays .night .night-r ul li{
    float: left;
    padding: 0;
    margin-right: 1px;
}

.todays .night .night-r ul li a{
    display: block;
    height: 160px;
}


.todays .night .night-r a.arrow-1 ,
.todays .night .night-r a.arrow-2
{
    /*display: block;*/
    width: 20px;
    height: 62px;
    font: 500 18px/62px "宋体";
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    top: 50%;
    margin-top: -31px;
    position: absolute;
}

.todays .night .night-r a.arrow-1{
    left: 0;
}

.todays .night .night-r a.arrow-2{
    right: 0;
}


/*开始底部设置*/
.jdfooter{
    /*background-color: #f5f5f5;*/
    overflow: hidden;
}


.jdfooter .service {
    border-bottom: 1px solid #dedede;
}

.jdfooter .service .slogan{
    height: 54px;
    padding: 20px 0;
    background-color: #f5f5f5;
    position: relative;
}

.jdfooter .service .slogan span{
    width: 302px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: 0px;
}

.jdfooter .service .slogan span.slogan1{
    margin-left: -608px;
}
.jdfooter .service .slogan span.slogan2{
    margin-left: -304px;
}
.jdfooter .service .slogan span.slogan4{
    margin-left: 304px;
}

.jdfooter .contact {
    padding-bottom: 25px;
    border-bottom: 1px solid #dedede;
    overflow: hidden;
}

.jdfooter .contact dl{
    width: 198px;
    float: left;
    padding: 20px 0;
}

.jdfooter .contact dl dt,.jdfooter .w .coverage .dt{
    font-size: 14px;
    font-family: "微软雅黑";
    font-weight: bolder;
    line-height: 22px;
    margin-bottom: 5px;
}

.jdfooter .contact dl dd{
    font-size: 12px;
    font-family: "微软雅黑";
    line-height: 22px;
    color: #666;
}

.jdfooter .contact .coverage{
    float: right;
    width: 200px;
    height: 150px;
    margin: 20px 10px;
    background: url(../images/china2.png) no-repeat 0 0;
}

.jdfooter .contact .coverage .dt{
    text-align: center;
}

.jdfooter .contact .coverage .dd{
    line-height: 22px;
    font: 12px/22px "微软雅黑";
    text-indent: 2em;
    padding-top: 10px;
}
.jdfooter .contact .coverage .dd p{
    text-align: right;

}

.jdfooter .contact .coverage .dd p a{
    text-align: right;
    color: #666;
    font: 12px/22px "微软雅黑";
}

/*设置copyright*/
.jdfooter .copyright {
    text-align: center;
    color: #999;
}

.jdfooter .copyright .copyinfo1 {
    padding: 15px 15px 15px 0;
}

.jdfooter .copyright .copyinfo1 a{
    padding: 0 8px;
    text-align: center;
    border-right: 1px solid #ccc;
    line-height: 14px;
}

.jdfooter .copyright .copyinfo1 a.last{
    padding-right: 0;
    border-right: none;
}

.jdfooter .copyright .copyinfo2 {
    line-height: 22px;
    padding-bottom: 20px;

}

.jdfooter .copyright .copyinfo2 a {
    padding:0 8px;
    border-right: 1px solid #ccc;

}

.jdfooter .copyright .copyinfo2 a.last {
    padding-right: 0;
    border-right: none;

}

.jdfooter .copyright .copyinfo2 a.icona {
    padding-left: 30px;

}


.jdfooter .copyright .copyinfo2 .icona i {
    width: 15px;
    height: 10px;
    display: inline-block;
    background: url("../images/china2.png") no-repeat 0 0;
}

.jdfooter .copyright .copyinfo2 .icona .flag1 {
    background-position: -109px -155px;
    height: 12px;
}

.jdfooter .copyright .copyinfo2 .icona .flag2 {
    background-position: -128px -155px;
}

.jdfooter .copyright .copyinfo2 .icona .flag3{
    background-position: -148px -155px;
}

.jdfooter .copyright .copyinfo2 .icona .flag4 {
    background-position: -168px -155px;
}

.jdfooter .copyright .copyinfo3 {
    padding-bottom: 40px;
}

.jdfooter .copyright .copyinfo3 a{
    display: inline-block;
    width: 103px;
    height: 32px;
    margin: 0 3px;
    background: url(../images/china2.png)  no-repeat 0 0;
}

.jdfooter .copyright .copyinfo3 a.integrity1{
    background-position: -205px -148px;
}
.jdfooter .copyright .copyinfo3 a.integrity2{
    background-position: -205px -111px;
}
.jdfooter .copyright .copyinfo3 a.integrity3{
    background-position: -205px -74px;
}
.jdfooter .copyright .copyinfo3 a.integrity4{
    background-position: -205px -37px;
}
.jdfooter .copyright .copyinfo3 a.integrity5{
    background-position: -205px 0px;
}
.jdfooter .copyright .copyinfo3 a.integrity6{
    background-position: 0 -155px;
}
/*结束底部设置*/







